<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
   <appSettings>
    <add key="APIUrl" value="http://localhost:5000/api/" />
    <add key="username" value="admin@mes.com" />
    <add key="password" value="P@ssw0rd" />
  </appSettings>
</configuration>